<footer>
  <div *ngIf="mobileAppBanner" class="mobile-app-banner-wrapper">
    <div class="mobile-app-banner-container">
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col class="mobile-app-banner-description" offset-md="1" size="12" size-md="4">
          <h3>Κατέβασε το App</h3>
          <p>Παράγγειλε τώρα από το κινητό σου (iOS ή Android) με τρία απλά βήματα: προσθήκη, καλάθι, αποστολή.</p>
          <div>
            <a href="#">
              <img src="../../../assets/footer/app-store-icon.avif" alt="install on iOS"/>
            </a>
            <a href="#">
              <img src="../../../assets/footer/play-store-icon.avif" alt="install on Android"/>
            </a>
          </div>
        </ion-col>
        <ion-col class="mobile-app-banner-img-col" size="12" size-md="6">
          <img class="mobile-app-banner-img" src="../../../assets/footer/efood-footer-mobileapps-20220301.webp" alt="efood"/>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="img-footer">
          <img src="../../../assets/home/TheSocialClub_06.jpg" alt="home">
        </div>
      </ion-col>
      <ion-col size="12" size-md="6">
        <p>
          Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help the upcoming programmers with the
          code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We
          will help programmers build up concepts in different programming languages that include C, C++, Java, HTML,
          CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.
        </p>
      </ion-col>
      <ion-col offset-lg="3" offset-md="" size="6" size-md="3" size-lg="1.5">
        <ul>
          <li>Item1</li>
          <li>Item2</li>
          <li>Item3</li>
          <li>Item4</li>
        </ul>
      </ion-col>
      <ion-col size="6" size-md="3" size-lg="1.5">
        <ul>
          <li>Item1</li>
          <li>Item2</li>
          <li>Item3</li>
          <li>Item4</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between copyrights-row">
      <ion-col size="9" size-sm="3">
        <div class="copyrights">
          &copy; 2022 <a href="https://dsconstruction.gr/">DSconstruction</a>
        </div>
      </ion-col>
      <ion-col size="3">
        <div class="social-icons">
          <ion-icon class="social-icon" name="logo-facebook"></ion-icon>
          <ion-icon class="social-icon" name="logo-instagram"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</footer>