ion-app {
  position: relative;
  min-height: 100vh;
}

.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}

#menu-content {
  --offset-bottom: auto!important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

#main-content {
  --background: white;

  ion-title {
    text-align: center;
  }
}

.login-register-button {
  background-color: var(--indigo);
  color: var(--white);
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding: 11px;
  border-radius: 5px;
  margin-right: 10px;

  &:hover {
    background-color: var(--purple);
  }
}
